:host {
  display: block;
  min-height: 100vh;
}

.home {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100vh;

  &--container {
    display: flex;
    flex-direction: column;

    &--content {
      padding: 2rem 3rem;
      flex: 1;
    }
  }
}
